finance/finance-assistant/finance-assistant/n8n/finance-assistant-workflow.json
{
  "name": "Finance Assistant Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finance-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst message = body.message || '';\n\nlet intent = 'rag';\nconst transactionKeywords = ['spend', 'spent', 'transaction', 'category', 'amount', 'cost', 'paid', 'payment', 'expense', 'last week', 'this week', 'month', 'compare', 'insight', 'budget'];\nfor (const kw of transactionKeywords) {\n  if (message.toLowerCase().includes(kw)) {\n    intent = 'transactions';\n    break;\n  }\n}\n\nreturn [{ json: { ...body, intent } }];"
      },
      "id": "intent-router-node",
      "name": "Intent Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $json.user_id || 'user_001' }}"
            },
            {
              "name": "session_id",
              "value": "={{ $json.session_id || 'n8n-session' }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "backend-chat-node",
      "name": "Call Finance Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Intent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Router": {
      "main": [
        [
          {
            "node": "Call Finance Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Finance Backend": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "finance-assistant-workflow"
}
